.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#header {
    width: 100%;
    text-align: center;
}

.card {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #007bb887, #ffd90073);

    transition: transform 0.3s ease-in-out;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    padding: 15px;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #0b0b0bd1;
    border-radius: 14px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dee2e6;
}


.card-header>h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #ec3535;
}

.card>img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-body>p {
    margin: 5px 0;
}
.accordion-content {
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin-top: 5px;
    animation: fadeIn 0.3s ease-in-out;
}

.accordion-content li {
    list-style: none;
    margin-left: -30px;
    font-size: smaller;
}
button {
    background-color: #0b0b0bd1;
    color: #ec3535;
    border-radius: 8px; 
    margin: 2px;
    border: solid 2px #ec3535;
    font-size: 15px;
    font-weight: bold;

}
button:hover {
    background-color: #ec3535;
    color: #0b0b0bd1;
    border: solid 2px #0b0b0bd1;
    transform: scale(1.05);

}
.pagination {
    
    text-align: center;
    
    margin: 10px;
}
input:focus {
    background-color: lightyellow;
}