<div class="content" *ngIf="dataApi">
  <div id="header">
    <h1>Disney Character List</h1>

    Character name: <input type="text" [(ngModel)]="charName" />
    <button (click)="filterByName()">Filter by name</button>
    <br />
    <button (click)="resetFilter()">Reset Filter</button>
    <button (click)="orderByName()">Order by Name</button>
  </div>

  <!-- <p>Name of the first charater: {{dataApi.results[0].name}}.</p> -->
  <div class="card" *ngFor="let char of characters; index as i">
    <div class="card-header">
      <h3>{{char.name}}.</h3>
    </div>
    <img [src]="char.imageUrl" [title]="char.name" />
    <button (click)="toggleAccordion(i)">All info</button>
    <div *ngIf="activeIndex === i && char.films.length > 0" class="accordion-content">
      <h5>Films:</h5>
      <ul>
        <li *ngFor="let films of char.films">
          <p>{{films}}</p>
        </li>
      </ul>
    </div>
    <br />
    <div *ngIf="activeIndex === i && char.shortFilms.length > 0 " class="accordion-content">
      <h5>Short Films:</h5>
      <ul>
        <li *ngFor="let short of char.shortFilms">
          <p>{{short}}</p>
        </li>
      </ul>
    </div>
    <br />
    <div *ngIf="activeIndex === i && char.tvShows.length > 0" class="accordion-content">
      <h5>Tv Shows:</h5>
      <ul>
        <li *ngFor="let shows of char.tvShows">
          <p>{{shows}}</p>
        </li>
      </ul>
    </div>
    <br />

    <div *ngIf="activeIndex === i && char.videoGames.length > 0" class="accordion-content">
      <h5>Video Games:</h5>
      <ul>
        <li *ngFor="let games of char.videoGames">
          <p>{{games}}</p>
        </li>
      </ul>
    </div>
    <br />

    <div *ngIf="activeIndex === i && char.parkAttractions.length > 0" class="accordion-content">
      <h5>Park Attractions:</h5>
      <ul>
        <li *ngFor="let park of char.parkAttractions">
          <p>{{park}}</p>
        </li>
      </ul>
    </div>
    <button (click)="toggleAccordion(i)" *ngIf="activeIndex === i" class="accordion-content">Close</button>
    
  </div>
</div>
<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">PrevPage</button>
  <span>Page: {{currentPage}} / {{totalPages}}</span>
  <button (click)="nextPage()" [disabled]="currentPage=== totalPages">
    NextPage
  </button>
  <br />
  Go to: <input type="number" [(ngModel)]="pageToGo" /><button (click)="goToPage(pageToGo)">
    Go to
  </button>
</div>
